<!-- declaring var in Nunjucks: use `set` keyword -->
{% set navs = [
    { title: 'Home', url: 'index.html', state: 'home' },
    { title: 'Download', url: 'download.html', state: 'download' },
    { title: 'Contributor', url: 'contributor.html', state: 'contributor' },
    { title: 'FAQ', url: 'faq.html', state: 'faq' },
    { title: 'Media', url: 'media.html', state: 'media' }
] %}

<div class="menunav">
    <div class="row no-gutters">
        <div class="col-md-3">
            <a href="#" class="menu-logo">
                <img src="images/csflogo.png" alt="">
            </a>
        </div>
        <div class="col-md-6">
            <ul class="nav">
                <!-- for loop in Nunjucks -->
                {% for nav in navs %}
                <li class="nav-item ">
                    {% if page == nav.state %}
                        <a class="nav-link active" href="{{ nav.url }}">
                
                    {% else %}
                        <a class="nav-link" href="{{ nav.url }}">
                    {% endif %}
                        <span>{{ nav.title }}</span>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-3 text-right">
            <a href="https://www.facebook.com/csfederation" target="_blank" class="btn btn-facebook">
                <img src="images/facebook.png" alt=""> FIND US ON FACEBOOK
            </a>
        </div>
    </div>
</div>